body {
    background-image: url(./images/heaven.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
}

.square_bg {
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.square_fg {
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: background-color 1s ease-out 0.25s;
}

.square_fade {
    background-color: transparent;
}

.moon {
    background-image: url(./images/eclipse-flare.svg);
}

.stars {
    background-image: url(./images/sparkles.svg);
}

#gameBoard {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;

}

#gameBoard, #gameBoard > div {
    gap: 15px;
}


