@font-face {
    font-family: 'Ferrum';
    src: url('./assets/ferrum-font/Ferrum-wy99.otf') format('opentype');
}

body {
    font-family: 'Ferrum', sans-serif;
    background-image: url(./assets/images/heaven.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size 18px;
}

#foreground {
    background-image: url(./assets/images/full-moon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    box-shadow: 0 0 80px 0 rgba(255, 150, 0, 0.5);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 1em blue;
    transition: transform 2s ease-out 0.25s;
    color: rgb(255, 150, 0);
}

#foreground > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(255, 150, 0);
    font-size: 7rem;
    gap: 20px;
}

#titleText > span{
    text-decoration: underline;
}

#hookText {
    font-size: 3rem;
    color: rgb(200, 150, 0);
}

#subtitle {
    font-size: 5rem;
}

button {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(255, 150, 0);
    border-radius: 100px;
    background-image: linear-gradient(to bottom right, rgb(255, 150, 0), rgb(100, 255, 100));
    font-family: 'Ferrum', sans-serif;
    font-size: 2rem;
}

/* #curve {
}

#svgSlide {
    transition: transform 3s ease-out 0.25s;
}

text {
    font-size: 2rem;
    fill: rgb(255, 150, 0);
} */

.slideOut {
    transform: translateY(-100%);
}

#screen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
}

.square_bg {
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.square_fg {
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: background-color 2s ease-out 0.25s;
}

.square_fade {
    background-color: transparent;
}

.moon {
    background-image: url(./assets/images/eclipse-flare.svg);
}

.stars {
    background-image: url(./assets/images/sparkles.svg);
}

#gameBoard, #gameBoard > div {
    gap: 15px;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 150, 0);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 6%;
    text-align: center;
    border-top: 1px solid orange;
    box-shadow: 0 0 80px 0 rgba(255, 150, 0, 0.5);
}
